<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Register</title>
</head>

<body class="grid justify-center item-center my-20 md:my-20 text-gray-700">
    {% extends "security/base.html" %}
    {% from "security/_macros.html" import render_field_with_errors, render_field, render_form_errors %}

    {% block content %}
    {% include "security/_messages.html" %}
    <h1 class="font-medium text-2xl mb-4 md:mb-6 underline underline-offset-8 text-center">{{ _fsdomain('Register') }}
    </h1>
    <form action="{{ url_for_security('register') }}" method="post" name="register_user_form">
        {{ register_user_form.hidden_tag() }}
        {{ render_form_errors(register_user_form) }}
        {{ render_field_with_errors(register_user_form.email, placeholder="Click here to enter email",
        autocomplete="email") }}
        {{ render_field_with_errors(register_user_form.password, placeholder=" Click here to enter password") }}
        {% if register_user_form.password_confirm %}
        {{ render_field_with_errors(register_user_form.password_confirm, placeholder="Enter the same password here to
        confirm") }}
        {% endif %}
        <div class="text-center mt-5">
            <button
                class="py-1.5 px-4 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                {{ render_field(register_user_form.submit) }}
            </button>
        </div>
    </form>
    {% include "security/_menu.html" %}
    {% endblock content %}
</body>

</html>