<footer class="bg-white my-4">
    <div class="w-full max-w-screen-xl mx-auto p-4 md:py-6">
        <hr class="my-6 sm:mx-auto lg:my-8" />
        <p class="block text-sm text-gray-400 text-center dark:text-gray-400">© 2023 <a
                class="text-gray-500 hover:underline hover:text-gray-900" href="https://kishorkamal.netlify.app">Kamal
                Kishor
                Chaurasiya</a>.</p>
        <p class="block text-sm text-gray-400 text-center dark:text-gray-400">Site developed by me using HTML,
            Tailwind CSS, Python (Flask) and PostgreSQL</p>
        <p class="block text-sm text-gray-400 text-center dark:text-gray-400">I developed this site just to test
            postgreSQL
            integration in the backend.&#128513</p>
    </div>
</footer>